%ul.breadcrumb
  %li.active= @forum.name

= will_paginate @topics

%ul.nav.nav-tabs.nav-stacked
  - for topic in @topics do
    %li= link_to "#{topic.title} (#{topic.posts.count})", topic

= will_paginate @topics
