%h1
  = @user.username
  %small
    = @user.rank.title unless @user.rank.nil?
    |
    joined
    = Time.at(@user.created_at).strftime('%d %B %Y')
    |
    = @user.posts.count
    posts

%hr

= will_paginate @posts
= render @posts
= will_paginate @posts
