:erb
  <!DOCTYPE html>
%html
%head
  %title Three Seas Forum
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
%body
  .container
    .row
      .span6
        %ul.thumbnails
          %li.span6
            = link_to root_path, :class => 'thumbnail' do
              = image_tag 'logo.gif'
      .span6.right
        %h1
          the archives
        %p.lead exhumed from the old database
    .row
      .span6
        %ul.nav.nav-pills
          %li= link_to "Users (#{User.count})", users_path
          %li= link_to "Forums (#{Forum.count})", forums_path
          %li= link_to "Topics (#{Topic.count})", topics_path
          %li= link_to "Posts (#{Post.count})", posts_path
          %li= link_to 'FAQ', faq_path
      .span6
        = form_tag search_index_path, :method => :get, :class => 'form-search pull-right' do
          .input-prepend
            %button.btn{:type => 'submit'} Search
            = text_field_tag 'q', nil, :class => 'span2 search-query', :placeholder => params[:q] ||= 'search...'
    .row
      .span12
        %ul.thumbnails
          %li.span12
            .thumbnail
              .decorator &nbsp;
  .container
    .row
      .span12
        =render 'shared/adsense_h'
  .container
    .row
      .span12
        = yield
  .container
    .row
      .span12
        = render 'shared/adsense_h'
  .container
    .row
      .span12
        %ul.thumbnails
          %li.span12
            .thumbnail
              .decorator &nbsp;
    .row
      .span12
        The Three Seas Forum archives are hosted and maintained courtesy of the
        = link_to 'Fadidi Digital Network', 'http://www.fadidi.com'
:erb
  <% if Rails.env.production? %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= ENV['GA_ACCOUNT'] %>']);
      _gaq.push(['_setDomainName', '<%= ENV['GA_DOMAIN'] %>']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>
